<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title></title>
    <!-- plugins:css -->
    <link rel="stylesheet" th:href="@{/static/assets/vendors/iconfonts/mdi/css/materialdesignicons.min.css}" href="../assets/vendors/iconfonts/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" th:href="@{/static/assets/vendors/iconfonts/ionicons/css/ionicons.css}" href="../assets/vendors/iconfonts/ionicons/css/ionicons.css">
    <link rel="stylesheet" th:href="@{/static/assets/vendors/iconfonts/typicons/src/font/typicons.css}" href="../assets/vendors/iconfonts/typicons/src/font/typicons.css">
    <link rel="stylesheet" th:href="@{/static/assets/vendors/iconfonts/flag-icon-css/css/flag-icon.min.css}" href="../assets/vendors/iconfonts/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" th:href="@{/static/assets/vendors/css/vendor.bundle.base.css}" href="../assets/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" th:href="@{/static/assets/vendors/css/vendor.bundle.addons.css}" href="../assets/vendors/css/vendor.bundle.addons.css">
    <!-- endinject -->
    <!-- inject:css -->
    <link rel="stylesheet" th:href="@{/static/assets/css/shared/style.css}" href="../assets/css/shared/style.css">
    <!-- endinject -->
    <link rel="shortcut icon" th:href="@{/static/assets/images/favicon.png}" href="../assets/images/favicon.png" />
  </head>
  <body>
    <div class="container-scroller">
      <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="content-wrapper d-flex align-items-center text-center error-page bg-info">
          <div class="row flex-grow">
            <div class="col-lg-7 mx-auto text-white">
              <div class="row align-items-center d-flex flex-row">
                <div class="col-lg-6 text-lg-right pr-lg-4">
                  <h1 class="display-1 mb-0">500</h1>
                </div>
                <div class="col-lg-6 error-page-divider text-lg-left pl-lg-4">
                  <h2>SORRY!</h2>
                  <h3 class="font-weight-light">Internal server error!</h3>
                  <h3 class="font-weight-light">status:[[${status}]]</h3>
                  <h3 class="font-weight-light">timestamp:[[${timestamp}]]</h3>
                  <h3 class="font-weight-light">exception:[[${exception}]]</h3>
                  <h3 class="font-weight-light">message:[[${message}]]</h3>
                  <h3 class="font-weight-light">message:[[${ext.code}]]</h3>
                </div>
              </div>
              <div class="row mt-5">
                <div class="col-12 text-center mt-xl-2">
                  <a class="text-white font-weight-medium" th:href="@{/main.html}" href="../../index.html">Back to home</a>
                </div>
              </div>
              <div class="row mt-5">
                <div class="col-12 mt-xl-2">
                  <p class="text-white font-weight-medium text-center">Copyright &copy; 2018 All rights reserved.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- content-wrapper ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script th:src="@{/static/assets/vendors/js/vendor.bundle.base.js}" src="../assets/vendors/js/vendor.bundle.base.js"></script>
    <script th:src="@{/static/assets/vendors/js/vendor.bundle.addons.js}" src="../assets/vendors/js/vendor.bundle.addons.js"></script>
    <!-- endinject -->
    <!-- inject:js -->
    <script th:src="@{/static/assets/js/shared/off-canvas.js}" src="../assets/js/shared/off-canvas.js"></script>
    <script th:src="@{/static/assets/js/shared/misc.js}" src="../assets/js/shared/misc.js"></script>
    <!-- endinject -->
  </body>
</html>